.cartInFaoriteShopCart
{
    margin-right: 50px;
    display: inline-block;
}
.cartShopCart {
    width: 230px;
    display: inline-block;
    margin-right: 50px;
}

.cartContentShopCart {
    text-align: end;
}


.priceFavoriveCart
{
    font-size: 13px;
    text-align: end;
    margin-right: 70px;
}
.countTovarShopCart
{
    display: flex;
    align-items: center;
}
.pForContTovarShopCart
{
    margin-right: 30px;
    color: rgb(129, 129, 129);
}
.deskFavoroteCart
{
    width: 200px;
    text-align: end;
}