@media(min-width: 403px) {
    .cartInFaoriteShopCart {
        margin-right: 50px;
        display: inline-block;
    }

    .cartShopCart {
        width: 272px;
        display: inline-block;
        margin-right: 50px;
    }

    .cartContentShopCart {
        text-align: end;
    }


    .priceFavoriveCart {
        font-size: 13px;
        text-align: end;
        /* margin-right: 70px; */
        /* width: 100px; */
    }

    .deskFavoroteCart {
        width: 100%;
        text-align: end;
    }

    #cartsShopCart
    {
        width: 100%;
    }
}

@media(width: 402px){
    
    .cartInFaoriteShopCart {
        /* margin-right: 30px; */
        display: inline-block;
        width: 100px;
    }

    .cartShopCart {
        width: 140px;
        display: inline-block;
        margin-right: 40px;
    }

    .cartContentShopCart {
        display: none;
        text-align: end;
        width: 40px;
        font-size: 10px;
        /* margin-left: ; */
    }


    .priceFavoriveCart {
        font-size: 8px;
        text-align: start;
        margin-right: 20px;
    }

    .deskFavoroteCart {
        width: 80px;
        text-align: start;
        font-size: 10px;
        margin-bottom: -8px;
    }
    .fhotoForShopCartFavorite
    {
        width: 153px;
        margin-left: -0px;
    }
    .fhotoForShopCart
    {
        width: 167px;
        height: 252px;
    }
    .fhotoForShopCartFavorite
    {
        margin-right: 50px;
    }
}

