@media(min-width: 600px) {
    .cartInFaoriteShopCart {
        margin-right: 50px;
        display: inline-block;
    }

    .cartShopCart {
        width: 230px;
        display: inline-block;
        margin-right: 50px;
    }

    .cartContentShopCart {
        text-align: end;
    }


    .priceFavoriveCart {
        font-size: 13px;
        text-align: end;
        margin-right: 70px;
        /* width: 100px; */
    }

    .countTovarShopCart {
        display: flex;
        align-items: center;
    }

    .pForContTovarShopCart {
        margin-right: 30px;
        color: rgb(129, 129, 129);
    }

    .deskFavoroteCart {
        width: 200px;
        text-align: end;
    }
}

@media(min-width: 360px) and (max-width: 600px){
    .cartInFaoriteShopCart {
        margin-right: 30px;
        display: inline-block;
        width: 100px;
    }

    .cartShopCart {
        width: 50px;
        display: inline-block;
        margin-right: 40px;
    }

    .cartContentShopCart {
        text-align: end;
        width: 40px;
        font-size: 10px;
        /* margin-left: ; */
    }


    .priceFavoriveCart {
        font-size: 13px;
        text-align: end;
        margin-right: 20px;
    }

    .countTovarShopCart {
        display: flex;
        align-items: center;
        width: 100px;
    }

    .pForContTovarShopCart {
        margin-right: 30px;
        color: rgb(129, 129, 129);
    }

    .deskFavoroteCart {
        width: 80px;
        text-align: center;
        font-size: 10px;
    }
    .fhotoForShopCart, .fhotoForShopCartFavorite
    {
        width: 100px;
        margin-left: -0px;
    }
    .fhotoForShopCartFavorite
    {
        margin-right: 50px;
    }
}