.inputLogin::placeholder {
    color: rgb(133, 133, 133)0;
}

#titleH2Login,
#forgotePassLogin,
#bntLogin,
#bntSingUp,
.formLogin {
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#bntLogin:focus
{
    outline: none;
    /* border: none; */
}


@media(min-width: 403px) {
    #wrappLogin {
        display: flex;
        /* justify-content: space-between; */
        width: 100%;
    }

    #titleLogin {
        font-size: 50px;
        margin-left: 150px;
    }

    #login {
        margin-left: 100px;
    }

    #titleH2Login {
        margin-left: 210px;
    }

    #leftLogin {
        margin-top: 50px;
    }

    #formLogin {
        margin-top: 100px;
    }

    .inputLogin {
        border: none;
        margin-left: 20px;
        margin-bottom: 20px;
        font-size: 20px;
        color: black;
    }

    .inputLogin,
    .hrLogin {
        width: 500px;
    }

    .hrLogin {
        margin-left: -0px;
        margin-top: -20px;
        margin-bottom: 30px;
    }

    #photoLogin {
        width: 800px;
        height: 900px;
        margin-left: 20px;
    }

    #rightLogin {
        margin-left: 210px;
    }

    #bntLogin {
        background: #000;
        color: white;
        width: 245px;
        height: 40px;
        border: none;

        transition: all 0.2s;
    }

    #bntLogin:hover {
        background: #383838;
        color: black;
    }

    #bntSingUp {
        background: none;
        color: rgb(0, 0, 0);
        width: 245px;
        height: 40px;
        border: 1px solid black;

        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 30px;

        transition: all 0.3s;
    }

    #bntSingUp:hover {
        background: none;
        color: #336fbd;

        border: 1px solid #336fbd;
    }
}

@media(width: 402px) {
    #wrappLogin {
        display: flex;
        /* justify-content: space-between; */
        width: 200px;
    }

    #titleLogin {
        font-size: 50px;
        margin-left: 0;
    }

    #login {
        margin-left: 30px;
    }

    #titleH2Login {
        margin-left: -10px;
    }

    #leftLogin {
        margin-top: 50px;
    }

    #formLogin {
        margin-top: 10px;
        margin-left: -10px;
    }

    .inputLogin {
        border: none;
        margin-left: 0px;
        margin-bottom: 20px;
        font-size: 20px;
        color: black;
    }

    .inputLogin::placeholder {
        font-size: 15px;
    }


    .inputLogin,
    .hrLogin {
        width: 340px;
    }

    .hrLogin {
        margin-left: -0px;
        margin-top: -20px;
        margin-bottom: 30px;
    }

    #rightLogin {
        display: none;
    }

    #bntLogin {
        background: #000;
        color: white;
        width: 154px;
        height: 36px;
        border: none;
        margin-right: 35px;

        transition: all 0.2s;
    }

    #bntLogin:hover {
        background: #383838;
        color: black;
    }

    #bntSingUp {
        background: none;
        color: rgb(0, 0, 0);
        width: 154px;
        height: 36px;
        border: 1px solid black;

        margin-left: 0px;

        transition: all 0.3s;
    }


    #forgotePassLogin {
        margin-top: 19px;

        margin-bottom: 30px;
        margin-left: 100px;

        font-size: 13px;
    }

    #divBntLoginAndSingUp {
        display: flex;
        justify-content: center;
        align-items: row;
    }
}


/*
Закинуть в index.html <head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inder&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
*/