@media (min-width:403px)
{
    #logo
    {
        margin-top: 10px;
        margin-left: 10px;
    }
    #logoadaptive
    {
        display: none;
    }
}

@media (width:402px)
{
    #logoadaptive
    {
        margin-top: 10px;
        margin-left: 90px;
    }
    #divForLogo
    {
        margin-left: 10px;
    }
    #logo
    {
        display: none;
    }
}

