#notFound {
    display: flex;
    justify-content: center;
    width: 100%;
}

#titleNotFound {
    font-size: 50px;
    width: 250px;
    font-family: "Inder", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#contentNotFound {
    display: flex;
    align-items: row;
    margin-top: 300px;
}

#sadIconNotFound {
    margin-top: 35px;
    width: 130px;
    height: 130px;
}

/* 
Это закинуть в index.html

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inder&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> */