#wrappShopCart {
    margin-left: 10px;
    width: 370px;
}

#divUnderNavShopCart {
    margin-top: 50px;
    display: flex;
}

#imgcartshopCart {
    margin-bottom: -20px;
    width: 350px;
}

#divForProportisShopCart {
    margin-top: 100px;
}
